.DeliveryOptionList {
  padding: 9px 12px;
  border: 0.5px #bbbbbb solid;
  margin: -1px 0px;
 }


.DeliveryOptionList--selected {
  border-color: deepskyblue; //Replace with brand color

  z-index: 1;
  position: relative;
}


.DeliveryOptionList-radio {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 10px;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}


.DeliveryOptionsList-label {
  display: inline-block;
  vertical-align: middle;

  width: 90%;
}


.DeliveryOptionsList-label span {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  letter-spacing: 0.2px;
  margin: 4px 0;
}


.DeliveryOptionList-type {
  color: #333333;
  font-weight: 700;
  float: left;
  padding-right: 5px;
  width: 100%;
}


.DeliveryOptionList-estimation:before {
  content: " - ";
  color: #777777;
  font-weight: normal;
}


.DeliveryOptionList-estimation {
  color: #333333;
  width: 100%;
  font-weight: bold;
  display: block;
}


.DeliveryOptionList-info{
  color: #666666;
  width: 100%;
}

.DeliveryOptionList-price {
  width: 100%;
  display: block;
}

.DeliveryOptionList-originalPrice{
  color: #333333;
  text-decoration: line-through;
  padding-right: 5px;
}


.DeliveryOptionList-discountedPrice{
  color: #3eb14f;
  font-weight: bold;
}
